data_dir = "/opt/nomad/data"

log_level = "INFO"

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

client {
  enabled = true
  servers = ["server-vm-0.orb.local:4647", "server-vm-1.orb.local:4647", "server-vm-2.orb.local:4647"]

  server_join {
    retry_join = ["server-vm-0.orb.local", "server-vm-1.orb.local", "server-vm-2.orb.local"]
    retry_max = 30
    retry_interval = "5s"
  }

  host_volume "influxdb-data" {
    path      = "/opt/nomad/volumes/influxdb"
    read_only = false
  }
}

consul {
  address = "127.0.0.1:8500"
  auth    = ""
  auto_advertise = true
  checks_use_advertise = true
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}

